<html>   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h3>Hi,</h3>      
      <p> Your food posting <%=@food_post_details.name %> is shown interest by your OSU friend. </p>         
      <p>If you are still interested in sharing your food,please contact him with below details.<p>
      <p> Name:     <%= @current_user_name%></p>
      <p> Email ID: <%= @current_user_email%></p>
      </p>
      <p>
      <p>Happy Sharing !!</p>
      <p>CapnShare Team</p>
   
   </body>
   
</html>