<script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 6000)
    setTimeout("$('.success_msgs').fadeOut('slow')", 3000)
</script>

<div>
  <ul class="list-group">
    <li class="list-group-item"><%= render @donates %>
  </ul>
</div>



