
<div class="jumbotron jumbotron-contactus">
    
</div>
<div class="container">
		
		<h2 style="text-align: left;">Contact Info:</h2>
	    <br/>
		<p>Email us at: <a href = "mailto: vatsa@oregonstate.edu">vatsa@oregonstate.edu</a>
		</p>

		<br/><br/><br/><br/><br/>

</div>