

<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Welcome to Cap'nShare!</h1>
        <p>Cap'nShare is the place to find and share food around OSU!</p>
        <%= link_to "Browse listings »", "/foods", class: "btn btn-primary btn-lg" %> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Share</h2>
            <p>Add desc </p>
            <p><%= link_to "Add Post", "/foods/new", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>View Posts</h2>
            <p>Add desc </p>
            <p><%= link_to "View Status", "/foods", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Donate</h2>
            <p>Add desc </p>
            <p><%= link_to "Donate", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>