

<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Welcome to Cap'nShare!</h1>
        <p>This is a template.</p>
        <%= link_to "Browse listings »", "#", class: "btn btn-primary btn-lg" %> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Add desc </p>
            <p><%= link_to "Add Post", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Add desc </p>
            <p><%= link_to "View Status", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Add desc </p>
            <p><%= link_to "Donate", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>