<div class="container">
    <div class="row">
        <div class="col-md-6">
            <%= link_to(image_tag(@food.image.url(:thumb)), @food.image.url, target: '_blank') if @food.image.exists? %>
            <p><b>Item Name :</b><%= @food.name %></p>
            <p><b>Description :</b><%= @food.description %></p>
            <p><b>Posted by :</b><%= @food.contact %></p>
        </div>              
    </div>
</div>
