/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


/*Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";
@import "pages";
@import "signin_and_signup";
@import "container";
@import "bootstrap-datepicker";

.jumbotron-home {
    min-height: 650px;
    max-width:100%;
    max-height:100%;
    background: image-url("home-bg2.jpg");
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: lighten;
} 



.col-md-4x {
    text-align: center;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.home-text {
	text-align: justify !important;
    margin: 20px !important;

}