<p>Ola Amigo !</p>
<p>Please confirm your Cap'nShare account <% @email %> through the link below:</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p> Regards, </p>
<p> Cap'nShare Team </p>